body {
  background-color: black;
  height: 600px;
  width: 600px;
}

.container {
  max-width: 600px;
  margin: auto;
  text-align: center;
}

div.header {
  -webkit-transition: 6s;
  -moz-transition: 6s;
  -o-transition: 6s;
  transition: 6s;
  padding: 20px 0 50px;
  display: inline-flex;
}

.header h1#main-title {
  color: #fff;
  font-weight: 300;
  font-size: 2.5em;
}

.header h3 {
  color: #b1eef7;
  font-style: italic;
  font-weight: 300;
  padding-top: 5px;
}

.header h3 code {
  font-style: normal !important;
  background-color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
  color: #0e6471;
  margin: 0px 5px;
}

img {
  display: inline-block;
}

div.status {
  display: inline-flex;
  vertical-align: middle;
  border-radius: 5px;
  border: 3px ridge #2e2e2e;
  padding: 0 0 10px;
  width: 80%;
}

div.status__group {
  padding: 0 15px;
}

div.status span {
  text-transform: uppercase;
  color: #fff;
  font-family: 'Consolas', 'Monaco', monospace;
}

div.address {
  display: inline-grid;
  width: 80%;
}

div.address span {
  color: #fff;
  font-family: 'Consolas', 'Monaco', monospace;
}

.address__title {
  padding: 30px 0 15px;
}

.address__ip {
  border-radius: 5px;
  border: 3px ridge #2e2e2e;
  padding: 10px 0;
}

div.terminal {
  width: 80%;
  border-radius: 5px;
  border: 3px ridge #2e2e2e;
  margin: 50px 0;
  display: inline-flex;
}