<!--
  Display status, connections, IP address, etc.
  Poll cloud server, display internet status
-->

<link href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet">


<style>
  body {
    background-color: black;
    /*height: 600px;*/
    /*width: 600px;*/
  }

  .container {
    max-width: 600px;
    margin: auto;
    text-align: center;
  }

  div.header {
    -webkit-transition: 6s;
    -moz-transition: 6s;
    -o-transition: 6s;
    transition: 6s;
    padding: 20px 0 35px;
    display: inline-flex;
  }

  .header h1#main-title {
    color: #fff;
    font-weight: 300;
    font-size: 2.5em;
  }

  .header h3 {
    color: #b1eef7;
    font-style: italic;
    font-weight: 300;
    padding-top: 5px;
  }

  .header h3 code {
    font-style: normal !important;
    background-color: rgba(255, 255, 255, 0.5);
    font-weight: 300;
    color: #0e6471;
    margin: 0 5px;
  }

  img {
    display: inline-block;
  }

  div.status {
    display: inline-flex;
    vertical-align: middle;
    border-radius: 5px;
    border: 3px ridge #2e2e2e;
    padding: 0 0 10px;
    width: 80%;
  }

  div.status__group {
    padding: 0 15px;
  }

  div.status__group img {
    width: 95px;
    height: auto;
  }

  div.status span {
    text-transform: uppercase;
    color: #fff;
    font-family: 'Consolas', 'Monaco', monospace;
  }

  div.address {
    display: inline-grid;
    width: 80%;
  }

  div.address span {
    color: #fff;
    font-family: 'Consolas', 'Monaco', monospace;
  }

  .address__title {
    padding: 30px 0 5px;
  }

  .address__ip {
    border-radius: 5px;
    border: 3px ridge #2e2e2e;
    padding: 10px 0;
  }

  div.terminal {
    text-align: left;
    width: 80%;
    border-radius: 5px;
    border: 3px ridge #2e2e2e;
    margin: 30px 0;
    display: inline-flex;
  }

  ::selection {
    background: transparent;
  }

</style>

<div class="main container clearfix">
  <div class="header">
    <img src="images/logo.png">
  </div>

  <div class="status">
    <div class="status__group">
      <img id="img__running" src="images/green_light.png">
      <span>Running</span>
    </div>
    <div class="status__group">
      <img id="img__database" src="images/green_light.png">
      <span>database</span>
    </div>
    <div class="status__group">
      <img id="img__sync" src="images/green_light.png">
      <span>sync</span>
    </div>
  </div>

  <div class="address">
    <span class="address__title">VRX SERVER ADDRESS</span>
    <span class="address__ip"> - - - - </span>
  </div>

  <div id="terminal_wrapper" class="terminal">
    <!-- jquery terminal -->
  </div>

</div>

<script type="text/javascript">
  let red_img = 'images/red_light.png';
  let green_img = 'images/green_light.png';
  let status_term;

  // server ip get
  io.socket.get('/get-ip', (resData, jwRes) => {
    console.log(resData);

    setTimeout(() => {
      if (resData.data.active_ip) {
        $('.address__ip').text(resData.data.target_ip);
        $('#img__running').attr('src', red_img);
      }

      if (resData.response_code === 1000) {
        status_term.echo(`✓ Connected to server ${resData.data.target_ip}\n` +
          `Wifi SSID: 'MediVRx'`);
      } else {
        setInterval(() => {
          status_term.echo('Checking the server ip, wifi ssid and photon port now...');
          checkServerStatus();
        }, 10000);
      }
    }, 1500);
  });

  function checkServerStatus() {
    io.socket.get('/get-ip', (resData, jwRes) => {
      if (!resData.data.active_ip) {
        status_term.echo(`Expecting to find IP ${resData.data.target_ip} but found ${resData.data.ips}.\nSuggestion: Make sure the Mobile Hotspot is running on the WiFi 2 connection\n`);
        $('.address__ip').text('- - - -');
        $('#img__running').attr('src', green_img);
      } else {
        status_term.echo(`✓ MediVRx Server is running on IP '${resData.data.target_ip}'\n`);
        $('.address__ip').text(resData.data.ip);
        $('#img__running').attr('src', red_img);
      }

      if (!resData.data.active_wifi) {
        status_term.echo(`Trying to find Wifi SSID \"MediVRx\" but found ${resData.data.wifi}. \nSuggestion: Make sure the SSID named \"MediVRx\" is running on WiFi list\n`);
      } else {
        status_term.echo(`✓ Found the specific wifi ssid 'MediVRx'\n`);
      }

      if (!resData.data.active_photon) {
        status_term.echo(`Photon server not running.  Checked IP ${resData.data.target_ip} port ${resData.data.photon_port}, got E_NOCONNECT.\nSuggestion:  Start the Photon server\n`);
      } else {
        status_term.echo(`✓ Photon Server is running on Port '${resData.data.photon_port}'\n`);
      }
    });
  }

  // db connection check
  io.socket.get('/teachers', (resData, jwRes) => {
    setTimeout(() => {
      if (resData) {
        $('#img__database').attr('src', red_img);
        status_term.echo('✓ Connected to local storage.');
      } else {
        $('#img__database').attr('src', green_img);
        status_term.echo('Failed to connect local storage!');
      }
    }, 2500);
  });

  // sync check to remote db server
  io.socket.get('/database/checkSync', (resData, jwRes) => {
    setTimeout(() => {
      if (resData.response_code === 1000) {
        $('#img__sync').attr('src', red_img);
        status_term.echo('✓ Connected to remote database server. Syncing now...')
      } else {
        $('#img__sync').attr('src', green_img);
        status_term.echo('Failed to connect remote database server!');
      }
    }, 3500);
  });

  // subscribe to receive downloading status from server at runtime
  io.socket.get('/modules/subscribe-download-status');

  // Whenever a `modules` event is received, display downloading status text on electron console app
  io.socket.on('modules', (msg) => {
    if (msg.status === 'downloading') {
      status_term.echo(`Downloading '${msg.filename}' from IP ${msg.ip} ...`);
    }
  });


  // terminal cmd
  jQuery(($, undefined) => {
    status_term = $('#terminal_wrapper').terminal((command, term) => {
      let cmd = command.trim();

      if (cmd === 'reset') { // reset session
        io.socket.post('/database/reset', (resData, jwRes) => {
          if (resData.response_code === 1000) {
            term.echo('Reset session!');
          } else {
            term.echo('Reset failed!');
          }
          term.echo(JSON.stringify(resData));
        });

      } else if (cmd === 'new session') { // new session create
        io.socket.get('/teachers', (resData, jwRes) => {
          const leng = resData.length;
          const userInfo = {
            username: '*',
            email: 'teacher' + (leng + 1) + '@getmedi.com',
            password: 'medip@ss',
          };

          io.socket.post('/teacher/register', userInfo, (resData, jwRes) => {
            term.echo('Create new session!');
            term.echo(JSON.stringify(resData));
          });
        });

      } else if (cmd === 'sync') { // local db sync
        io.socket.get('/database/checkSync', (resData, jwRes) => {
          if (resData.response_code === 1000) {
            term.echo('Sync successfully!');
          } else {
            setTimeout(() => {
              term.echo('Sync failed!');
            }, 1500);
          }
        });

      } else if (cmd === 'ipcheck') { // server ip check
        io.socket.get('/get-ip', (resData, jwRes) => {
          if (resData.response_code === 1000) {
            term.echo(JSON.stringify(resData.data));
          } else {
            term.echo('Not Found Active Servers!\n' +
              JSON.stringify(resData.data));
          }
        });

      } else if (cmd === 'help') { // help command
        term.echo('Type `help` to see this list.\n\n' +
          'Use `reset` to clear local database.\n' +
          'Use `sync` to sync local data to remote db server.\n' +
          'Use `new session` to create session on local database.\n' +
          'Use `ipcheck` to check server IPs list.');
      } else {
        term.echo('No command!');
      }

    }, {
      greetings: '',
      name: 'electron',
      height: 200,
      prompt: '[[;#D72424;]> '
    });
  });


</script>
